<template lang="pug">
  #home
    Header
    Landing.body
    Contact.body
</template>

<script>
import Header from "@/components/Header.vue"
import Landing from "@/components/Landing.vue"
import Contact from "@/components/Contact.vue"

export default {
  name: "Home",
  components: {
    Header,
    Landing,
    Contact
  }
};
</script>
