<template lang="pug">
  #nosotros.conainter-fluid
    HeaderNosotros
    Equipo
    ContactFooter
</template>
<script>
import HeaderNosotros from "@/components/HeaderNosotros.vue"
import Equipo from "@/components/Equipo.vue"
import ContactFooter from "@/components/ContactFooter.vue"

export default {
  name: "Nosotros",
  components: {
    HeaderNosotros,
    Equipo,
    ContactFooter
  }
}
</script>