<template lang="pug">
  #odim
    HeaderODIM
    ODIMContent
    ContactFooter
</template>
<script>
import HeaderODIM from "@/components/HeaderODIM.vue"
import ODIMContent from "@/components/ODIMContent.vue"
import ContactFooter from "@/components/ContactFooter.vue"

export default {
  name: "ODIM",
  components: {
    HeaderODIM,
    ODIMContent,
    ContactFooter
  }
}
</script>