<template lang="pug">
  #repositorio
    HeaderRepositorio
    RepositorioFiles
    ContactFooter
</template>
<script>
import HeaderRepositorio from "@/components/HeaderRepositorio.vue"
import RepositorioFiles from "@/components/RepositorioFiles.vue"
import ContactFooter from "@/components/ContactFooter.vue"

export default {
  name: "Repositorio",
  components: {
    HeaderRepositorio,
    RepositorioFiles,
    ContactFooter
  }
}
</script>