<template lang="pug">
  #contact.container-fluid.py-3
    .row.justify-content-center.py-5
      .col-10.col-lg-5
        h1.uppercase.boldest.neutral-text Contacto
        .d-flex.mb-4
          img.social.mr-3(src="/assets/img/twitter.svg")
          img.social(src="/assets/img/facebook.svg")
      .col-10.col-lg-5
        label.bold(for="input-email") Escribe tu correo
        b-form-input(id="input-email")
        label.bold.mt-4(for="input-textarea") Dudas / Comentarios
        b-form-textarea(
          id="input-textarea"
          v-model="text"
          rows="3"
          max-rows="7")
        .d-flex.justify-content-end
          b-button.mt-4.bold.uppercase.send(variant="outline-light") Enviar
</template>
<script>
export default {
  name: "Contact",
  data() {
    return {
      text: ""
    }
  }
}
</script>
<style lang="scss" scoped>
#contact {
  background-image: linear-gradient(to bottom, #090a16, #171c24 98%);
  .social {
    max-width: 50px;
  }
  label {
    color: #cbf6f3;
  }
  .send {
    border-width: 3px;
  }
}
</style>