<template lang="pug">
  #contactfooter.container-fluid.body.pt-1
    hr.accent-background
    .row.justify-content-center
      .col-12.col-md-6
        h4.uppercase.bolder(@click="$bvModal.show('contact-modal')") Contacto
      .col-12.col-md-6
        .d-flex.mb-4.justify-content-end
          img.social.mr-3(src="/assets/img/twitter.svg")
          img.social(src="/assets/img/facebook.svg")

    b-modal#contact-modal(size="xl" hide-footer centered)
      Contact
</template>
<script>
import Contact from "@/components/Contact.vue"

export default {
  name: "ContactFooter",
  components: {
    Contact
  }
}
</script>
<style lang="scss" scoped>
#contactfooter {
  h4:hover {
    opacity: 0.75;
    cursor: pointer;
  }
  .social {
    max-width: 45px;
  }
  .modal-body {
    padding: 0;
  }
}
</style>