<template lang="pug">
  #equipo.container-fluid.py-5.b-3.body
    .row.justify-content-center.mb-5
      .col-12.col-md-2
        p.small.bolder Team
      .col-12.col-md-10
        .flex-row.justify-content-center.align-items-center
          .researcher.text-center
            img(src="")
            p.name.mb-1.bold Name Name
            p.institution.bold.accent-text.smaller Work / Work
</template>
<script>
export default {
  name: "Equipo"
}
</script>