<template lang="pug">
  #landing.container-fluid.mt-5.pb-5
    .row.justify-content-center.pt-5
      .col-11.col-md-5.mt-5.justify-content-center
        img.dark-logo.intro-logo(src="/assets/img/logo_odim.svg")
        h1.uppercase.boldest.text-center.short-title ¿WHO ARE WE?
      .col-11.col-md-7.mt-5
        p.intro.large 
          span.bold Lorem ipsum dolor sit amet, consectetur adipiscing elit
          span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        p.intro.large Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    .row.justify-content-center.my-5
      .col-12
        .row.justify-content-center.mt-3
          .col-6.col-md-2.my-3.text-center
            .number
              p.number-1 1
          .col-11.col-md-10
            p.large.bolder.number-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .row.justify-content-center.mt-5
          .col-6.col-md-2.my-3.text-center
            .number
              p.number-2 2
          .col-11.col-md-10
            p.large.bolder.number-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .row.justify-content-center.mt-5
          .col-6.col-md-2.my-3.text-center
            .number
              p.number-3 3
          .col-11.col-md-10
            p.large.bolder.number-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .row.justify-content-center.mt-5
          .col-6.col-md-2.my-3.text-center
            .number
              p.number-4 4
          .col-11.col-md-10
            p.large.bolder.number-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .row.justify-content-center.mt-5
          .col-6.col-md-2.my-3.text-center
            .number
              p.number-5 5
          .col-11.col-md-10
            p.large.bolder.number-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    .row.justify-content-center.my-5.py-5.sitio
      .col-11.col-lg-6.d-flex.justify-content-center
        h1.uppercase.boldest.mb-4 About us
      .col-11.col-lg-6
        p.large La presente página del Observatorio sobre Desaparición e Impunidad en México fue creada para brindar toda la información pública de carácter oficial y no oficial sobre las desapariciones en México. 

        p.large Esta información recabada comprende distintos documentos tales como herramientas, informes y diagnósticos creados y publicados por distintos autores tales como organizaciones de la sociedad civil a nivel estatal, nacional e internacional, gobierno y otras organizaciones o instituciones que hayan creado información sobre el tema de las desapariciones en México. También se encontrará legislación mexicana de nivel federal y estatal, recomendaciones de Derechos Humanos a nivel nacional y estatal, y diversos documentos de jurisprudencia que estén relacionados.

    .row.justify-content-center.my-5.py-5.repo
      .col-11.col-lg-6.text-center
        h1.uppercase.boldest.mb-4.secondary-text TITLE 1
        p.primary-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        .d-flex.justify-content-center
          b-button.px-5.accent-background.primary-text.bold.accent-border(size="lg") Ver más
      .col-11.col-lg-6.d-flex.justify-content-center
        .content-img.content-img-right.mt-5.accent-background
    hr.mobile
    .row.justify-content-center.mt-5.py-5.repo
      .col-11.col-lg-6.d-flex.justify-content-center
        .content-img.content-img-left.mb-5.primary-background
      .col-11.col-lg-6.text-center
        h1.uppercase.boldest.mb-4.secondary-text TITLE 2
        p.primary-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        .d-flex.justify-content-center
          b-button.px-5.primary-background.neutral-text.bold(size="lg") More

</template>
<script>
import { helper } from "../mixins/helper.js"

export default {
  name: "Landing",
  mixins: [helper],
  methods: {
    animateIntroText() {
      let options = {
        selector: ".intro-logo",
        sal: "slide-right",
        duration: "1.5s",
        delay: "0.5s",
        easing: "easeOutBounce",
        once: true,
        threshold: 1
      }
      helper.methods.animate(options);
    },
    animateNumbers() {
      let options = {
        selector: ".number",
        sal: "flip-left",
        delay: "0s",
        easing: "easeOutCubic",
        once: true,
        threshold: 1
      }
      helper.methods.animate(options);
      let optionsText = {
        selector: ".number-text",
        sal: "slide-up",
        duration: "0.4s",
        delay: "0s",
        easing: "easeOutCubic",
        once: true,
        threshold: 1
      }
      helper.methods.animate(optionsText);
    },
    animateImg() {
      let optionsRight = {
        selector: ".content-img-right",
        sal: "zoom-in",
        duration: "2s",
        delay: "0.2s",
        easing: "easeOutQuad",
        once: true,
        threshold: 1
      }
      helper.methods.animate(optionsRight);

      let optionsLeft = {
        selector: ".content-img-left",
        sal: "zoom-in",
        duration: "2s",
        delay: "0.6s",
        easing: "easeOutQuad",
        once: true,
        threshold: 1
      }
      helper.methods.animate(optionsLeft);
    }
  },
  async mounted() {
    this.animateIntroText();
    this.animateNumbers();
    this.animateImg();
  }
}
</script>
<style lang="scss" scoped>
#landing {
  .short-title {
    max-width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .number {
    font-size: 5rem;
    width: 3.5rem;
    height: 3.5rem;
    text-align: center;
    border-radius: 50%;
    margin: auto;
    background-color: #c1e2df;
    font-weight: 800;
  }
  .number-text {
    text-align: center;
  }
  .number-1 {
    line-height: 0.7;
  }
  .number-2 {
    line-height: 0.4;
    margin-left: 0.4rem;
  }
  .number-3 {
    margin-left: -0.5rem;
    line-height: 0.4;
    margin-bottom: 0;
  }
  .number-4 {
    margin-left: -1rem;
    line-height: 0.3;
    margin-bottom: 0;
  }
  .number-5 {
    margin-left: 0.8rem;
    line-height: 0.3;
    margin-bottom: 0;
  }
  .sitio {
    //background-color: #233047;
    background-image: linear-gradient(to bottom, #233047, #182035 98%);
    color: #fff;
    h1 {
      border-bottom: 5px solid #66dfda;
      width: fit-content;
      height: fit-content;
    }
  }
  .repo .content-img {
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
  }
}

@media (min-width: 992px) {
#landing {
  .number-text {
    text-align: left;
  }
}
}
</style>