<template lang="pug">
  #navbar
    b-navbar(toggleable type="light")
      b-navbar-toggle#toggle.ml-auto(target="nav-collapse" @click="menuOpen")
    #over.container-fluid.px-0
      .row.justify-content-end.close
        p(@click="menuClose") &times;
      .d-flex.flex-column.justify-content-center.align-items-start
        #content.pb-3.pt-5.px-5
          a(href="/#landing" @click="menuClose")
            p.bold Who are we?
          a(href="/nosotros" @click="menuClose")
            p.sub.bold About us
          .borderDiv
          a(href="/odim" @click="menuClose")
            p.bold Projects
          .d-flex.flex-row
            a.mr-3
              p.sub.bold Reports
            a.mr-3
              p.sub.bold Multimedia
            a
              p.sub.bold Activities
          .borderDiv
          a(href="/repositorio" @click="menuClose")
            p.bold Documents
          //a(href="" @click="menuClose")
            p.bold Another section
          a(href="/#contact" @click="menuClose")
            p.bold.mb-4 Contact

</template>
<script>
export default {
  name: "Navbar",
  data() {
    return {
      open: false
    }
  },
  methods: {
    menuOpen() {
      document.getElementById("over").style.opacity = "1";
      document.getElementById("over").style.height = "100vh";
      document.getElementById("over").style.zIndex = 999;
      document.getElementById("content").style.opacity = "1";
    },
    menuClose() {
      document.getElementById("over").style.opacity = "0";
      document.getElementById("over").style.height = "0%";
      document.getElementById("over").style.zIndex = -10;
      document.getElementById("content").style.zIndex = "0";
    }
  }
}
</script>
<style lang="scss" scoped>
#over {
  height: 0vh;
  width: 100%;
  background-image: linear-gradient(to bottom, #364664, #4a5874 99%);
  color: #fff;
  z-index: -10;
  position: fixed;
  top: 0%;
  left: 0%;
  transition: all 0.25s ease-in-out;
  #content {
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    a {
      &:hover {
        text-decoration: none;
        opacity: 0.6;
        color: #fff;
      }
      > p {
        font-size: 3rem;
        margin-bottom: 0.5rem;
        color: #fff;
        cursor: pointer;
        &:hover {
          text-decoration: none;
          opacity: 0.6;
          color: #fff;
        }
      }
      p.sub {
        font-size: 2rem;
        margin-bottom: 0.5rem;
      }
    }
    .borderDiv {
      width: 20%;
      height: 8px;
      max-width: 80px;
      background-color: #fff;
    }
  }
  .close {
    font-size: 4rem;
    color: #fff;
    position: relative;
    right: 2rem;
    font-weight: 400;
    z-index: 100;
    opacity: 1;
    :hover {
      cursor: pointer;
      opacity: 0.6;
    }
  }
}
</style>