<template lang="pug">
  #odimcontent.container-fluid.py-5.body
    .row.justify-content-center
      .col-12.col-md-10.control-width.mt-4
        b-tabs#main-control( content-class="mt-3" align="center")
          b-tab(title="Publicaciones" active) 
            Publicaciones
          b-tab( title="Multimedia")
            p I'm the second tab
          
          b-tab( title="Actividades")
            p I'm the third tab
    
          

</template>
<script>
import { helper } from "../mixins/helper.js"
import Publicaciones from "@/components/Publicaciones.vue"

export default {
  name: "ODIMContent",
  mixins: [helper],
  components: {
    Publicaciones
  },
  data() {
    return {
      selected: "Example",
      options: [
        "Example",
        "Example1",
        "Example2",
        "Example3",
        "Example4",
      ],
      results: [1,2,3,4,5,6,7,8,9,10]
    }
  },
  methods: {
    animateCards() {
      let options = {
        selector: ".repo-card",
        sal: "zoom-out",
        duration: "1s",
        delay: "0.5s",
        easing: "easeOutBounce",
        once: true,
        threshold: 0
      }
      helper.methods.animate(options);
    }
  },
  async mounted() {
    this.animateCards();
  }
}
</script>
<style lang="scss" scoped>
#odimcontent {
  color: #233047;
  .card-title {
    color: #fff;
    font-weight: 700;
    font-size: 1.1rem;
    margin-bottom: 0;
  }
  .card-body {
    background-color: #233047;
    font-size: 1rem;
  }
}
</style>