<template lang="pug">
  #publicaciones.container-fluid.mt-5
    .row.justify-content-center
      .col-12.mt-3
        b-tabs.second-control( content-class="mt-3" align="center")
          b-tab(title="Libros" active) 
            .row.justify-content-center.mt-5
              .col-12.mt-4
                .d-flex.flex-row.flex-wrap
                  .filter.mr-3.mb-4
                    label.bold(for="input-keyword") Temas
                    b-form-select( v-model="selected" :options="options")
                  .filter.mr-3.mb-4
                    label.bold(for="input-keyword") Año
                    b-form-select( v-model="selected" :options="options")

            .row.justify-content-center.mt-3
              .col-12.text-center.results
                b-card-group( deck)
                  b-card.repo-card.book-card(title="Title" img-src="https://picsum.photos/400/400/?image=20" img-alt="Image" img-top)
                    b-card-text.neutral-text 
                      
                  b-card.repo-card.book-card(title="Title" img-src="https://picsum.photos/400/400/?image=20" img-alt="Image" img-top)
                    b-card-text.neutral-text 
                  
                  b-card.repo-card.book-card(title="Title" img-src="https://picsum.photos/400/400/?image=20" img-alt="Image" img-top)
                    b-card-text.neutral-text 


          b-tab(title="Informes") 
            .row.justify-content-center.mt-5
              .col-12.mt-4
                .d-flex.flex-row.flex-wrap
                  .filter.mr-3.mb-4
                    label.bold(for="input-keyword") Temas
                    b-form-select( v-model="selected" :options="options")
                  .filter.mr-3.mb-4
                    label.bold(for="input-keyword") Año
                    b-form-select( v-model="selected" :options="options")

            .row.justify-content-center.mt-3
              .col-12.text-center.results
                b-card-group( deck)
                  b-card.repo-card.book-card(title="Title" img-src="https://picsum.photos/300/300/?image=41" img-alt="Image" img-top)
                    b-card-text.neutral-text 
                      
                  b-card.repo-card.book-card(title="Title" img-src="https://picsum.photos/300/300/?image=41" img-alt="Image" img-top)
                    b-card-text.neutral-text 
                  
                  b-card.repo-card.book-card(title="Title" img-src="https://picsum.photos/300/300/?image=41" img-alt="Image" img-top)
                    b-card-text.neutral-text 



          b-tab(title="Blog") 
            .row.justify-content-center.mt-5
              .col-12.mt-4
                .d-flex.flex-row.flex-wrap
                  .filter.mr-3.mb-4
                    label.bold(for="input-keyword") Temas
                    b-form-select( v-model="selected" :options="options")
                  .filter.mr-3.mb-4
                    label.bold(for="input-keyword") Año
                    b-form-select( v-model="selected" :options="options")

            .row.justify-content-center.mt-3
              .col-12.text-center
                b-card-group(deck)
                  b-card.blog-card.repo-card( no-body v-for="blog in blogEntries" )
                    b-row( no-gutters)
                      b-col(md="6" lg="4")
                        b-card-img(src="https://picsum.photos/400/400/?image=20" alt="Image" class="rounded-0")
                      b-col(md="6" lg="8")
                        b-card-body(:title="blog['title']")
                          b-card-sub-title.smaller.primary-text.my-2 {{blog.author}}
                          b-card-text.small {{blog.summary}}
                            br
                            br
                            span.date.bold {{blog.date}}
</template>
<script>
import { helper } from "../mixins/helper.js"

export default {
  name: "Publicaciones",
  mixins: [helper],
  data() {
    return {
      selected: "Example",
      options: [
        "Example",
        "Example1",
        "Example2",
        "Example3",
        "Example4",
      ],
      blogEntries: [
        {
          title: "Título",
          author: "Autor",
          summary: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
          date: "03.Enero.2020"
        }
      ]

    }
  },
  methods: {
    animateCards() {
      let options = {
        selector: ".blog-card",
        sal: "zoom-out",
        duration: "1.5s",
        delay: "0.5s",
        easing: "easeOutBounce",
        once: true,
        threshold: 0
      }
      helper.methods.animate(options);
    }
  },
  async mounted() {
    //this.animateCards();
  }
}
</script>
<style lang="scss" scoped>
#publicaciones {
  color: #233047;
  max-width: 1400px;
  .card {
    border: none;
    .card-title {
      font-weight: 700;
      font-size: 1.1rem;
      margin-bottom: 0;
    }
    .card-body {
      text-align: left;
    }
    .card-img {
      max-width: 400px;
      max-height: 400px;
    }
  }

  .book-card .card-body {
    background-color: #233047;
    font-size: 1rem;
    color: #fff;
  }
}
</style>