<template lang="pug">
  #repositoriofiles.container-fluid.py-5.body
    .row.justify-content-center
      .col-12.col-md-10.control-width.mt-4
        .row.justify-content-center
          .col-12.col-md-10
            p.small Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        .row.justify-content-center.mt-4
          .col-12
            .d-flex.flex-row.justify-content-around.flex-wrap
              .filter.mr-3.mb-4
                label.bold(for="input-keyword") Palabra clave
                b-form-input(id="input-keyword")
              .filter.mr-3.mb-4
                label.bold(for="input-keyword") Palabra clave
                b-form-select( v-model="selected" :options="options")
              .filter.mr-3.mb-4
                label.bold(for="input-keyword") Palabra clave
                b-form-select( v-model="selected" :options="options")

        .row.justify-content-center.mt-3.advanced-filters
          .col-12.col-md-11
            p.bold.large Búsqueda avanzada

        .row.justify-content-center.mt-3.result-text
          .col-12.col-md-11.text-center
            p.bolder.largest.uppercase Se encontraron {{results.length}} resultados

        .row.justify-content-center.mt-3
          .col-12.col-md-10.text-center.results
            b-card-group( deck)
              b-card.repo-card(title="Title" img-src="https://picsum.photos/300/300/?image=41" img-alt="Image" img-top)
                b-card-text.neutral-text 
                  
              b-card.repo-card(title="Title" img-src="https://picsum.photos/300/300/?image=41" img-alt="Image" img-top)
                b-card-text.neutral-text 
              
              b-card.repo-card(title="Title" img-src="https://picsum.photos/300/300/?image=41" img-alt="Image" img-top)
                b-card-text.neutral-text 
              

</template>
<script>
import { helper } from "../mixins/helper.js"

export default {
  name: "RepositorioFiles",
  mixins: [helper],
  data() {
    return {
      selected: "Example",
      options: [
        "Example",
        "Example1",
        "Example2",
        "Example3",
        "Example4",
      ],
      results: [1,2,3,4,5,6,7,8,9,10]
    }
  }
}
</script>
<style lang="scss" scoped>
#repositoriofiles {
  color: #233047;
  .card-title {
    color: #fff;
    font-weight: 700;
    font-size: 1.1rem;
    margin-bottom: 0;
  }
  .card-body {
    background-color: #233047;
    font-size: 1rem;
  }
  .results {
    max-width: 1400px;
  }
}
</style>