<template lang="pug">
  #app
    //#nav
      router-link(to="/") Home
    Navbar
    router-view#appBody
</template>
<script>
import Navbar from "@/components/Navbar.vue"
import { helper } from "./mixins/helper.js"

export default {
  components: {
    Navbar
  },
  mixins: [helper],
  methods: {
    animateCards() {
      let options = {
        selector: ".repo-card",
        sal: "slide-up",
        duration: "0.5s",
        delay: "0.1s",
        easing: "easeOutCubic",
        once: false,
        threshold: 0.4
      }
      helper.methods.animate(options);
    }
  },
  async mounted() {
    this.animateCards();
  }
}
</script>
<style lang="scss">
#app {
}

#nav {
}
</style>
