@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import '../node_modules/sal.js/dist/sal.css';

$neutral-color: #fff;
$default-color: #1e232c;
$primary-color: #282846;
$secondary-color: #2f4161;
$accent-color: #66dfda;

html {
  font-size: 13.3px;
}

#app {
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $default-color;
  font-size: 1rem;
  height: 100vh;
  overflow-y: scroll;
}

.primary-color {
  color: #1c3c75;
}
.secondary-color {
  color: #229dd9;
}
.normal-color {
  color: #4e4e4e;
}


.neutral-text {
  color: $neutral-color;
}
.default-text {
  color: $default-color;
}
.primary-text {
  color: $primary-color;
}
.primary-background {
  background-color: $primary-color;
}
.secondary-text {
  color: $secondary-color;
}
.secondary-background {
  background-color: $secondary-color;
}
.accent-text {
  color: $accent-color;
}
.accent-background {
  background-color: $accent-color;
}
.accent-border {
  border-color: $accent-color;
}

.mobile {
  display: flex;
}
.desktop-xl {
  display: none;
}
.desktop {
  display: none;
}

.title {
  font-family: 'sans-serif';
}

.sub-title {
  text-transform: uppercase;
  font-size: 2.2rem;
}

.italic {
  font-style: italic;
}
.underline {
	text-decoration: underline;
}
.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: 600;
}
.bolder {
  font-weight: 700;
}
.boldest {
	font-weight: 900;
}

.get-bolder {
  font-weight: bolder;
}

.light {
	font-weight: 300;
}
.get-lighter {
	font-weight: lighter;
}

.large {
  font-size: 1.15rem;
}
.larger {
  font-size: 1.3rem;
}
.largest {
	font-size: 1.5rem;
}

.small {
	font-size: 0.85rem;
}
.smaller {
	font-size: 0.7rem;
}
.smallest {
  font-size: 0.5rem;
}

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}

.show {
  opacity: 1 !important;
}

.control-width {
  max-width: 1400px;
}

// Override bootstrap styles
.navbar {
  background-color: transparent;
  position: fixed;
  top:0;
  width: 100%;
  z-index: 20;
  .navbar-toggler {
    border: none;
    &:focus {
      outline: none;
    }
    &:hover {
      opacity: 0.7;
    }
  }
}

.form-control,
.custom-select {
  border: 3px solid $primary-color;
  &:focus {
    border-color: $accent-color;
  }
}

#contact-modal {
  .modal-header {
    padding-bottom: 0;
    background-color: #090a16;
    border-bottom: 0;
    .close {
      color: $neutral-color;
    }
  }
  .modal-body {
    padding: 0;
  }
}

#main-control {
  .nav-tabs {
    border-bottom: none;
    > li > a.nav-link.active {
      background-color: #86fcf2;
    }
    > li > a.nav-link {
      text-transform: uppercase;
      font-weight: 700;
      color: $primary-color;
      border-radius: 0;
      border: none;
      font-size: 1.3rem;
      margin: auto 0.5rem;
      padding: 0.5rem;
      &:hover {
        background-color: #86fcf23a;
      }
    }
    > li {
      &:first-child {
        border-right: 4px solid $primary-color;
      }
      &:nth-child(2) {
        border-right: 4px solid $primary-color;
      }
    }
  }


  .second-control {
    .nav-tabs {
      border-bottom: none;
      > li > a.nav-link.active {
        border-bottom: 5px solid $primary-color;
      }
      > li > a.nav-link {
        margin: auto 1.5rem;
        padding: 0rem;
        text-transform: none;
        background-color: transparent;
        &:hover {
          border-bottom: 5px solid $primary-color;
          opacity: 0.8;
        }
      }
      > li {
        border: none;
      }
    }
  }
}


// ODIM logos
.dark-logo {
  width: 110px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.logo {
  width: 110px;
  z-index: 10;
}

.body {
  background-color: #fff;
}
// Medium devices
@media (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 19px !important;
  }
  .desktop-xl {
    display: none;
  }
  .desktop {
    display: none;
  }
}

// Large devices (desktops)
@media (min-width: 992px) and (max-width: 1399px) {
  html {
    font-size: 21px !important;
  }
  .mobile {
    display: none;
  }
  .desktop-xl {
    display: none;
  }
  .desktop {
    display: inline;
  }
  .dark-logo,
  .logo {
    width: 110px;
  }
}

// Extra large devices (large desktops, 1400px and up)
@media (min-width: 1400px) {
  html {
    font-size: 25px !important;
  }
  .mobile {
    display: none;
  }
  .desktop-xl {
    display: inline;
  }
  .desktop {
    display: none;
  }
  .dark-logo,
  .logo {
    width: 140px;
  }
}